/* body {
    background-color: #A5D7A7;
} */

.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}

.icon-bar a {
    float: left;
    text-align: center;
    width: 20%;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000;
}

.active {
    background-color: #4CAF50;
}

.wrapper {
    padding-top: 77px;
}

#map {
    height: 750px;
    width: 100%;
    background-color: gray;
}

#add-park-map {
    height: 200px;
    width: 100%;
    background-color: gray;
}

.form-label {
    font-weight: bold;
}

.btn {
    width: 100px;
}

.responsive {
    width: 100%;
    height: auto;
}

th {
    font-weight: bold;
}

.has-error input[type="text"] {
    border: 1px solid #A94442;
}